<div>
    <h2>Busquedas</h2>
    <hr>
    <ul class="list-group">
        <li routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="list-group-item" >
            Buscar País
        </li>
        <li routerLink="region" routerLinkActive="active" class="list-group-item">
            Por Región
        </li>
        <li routerLink="Capital" routerLinkActive="active" class="list-group-item">
            Por Capital
        </li>
    </ul>
</div>